
@model Enjoy.Core.ViewModels.SignViewModel
<div class="container">
    @if (Model.Signin)
    {
        @Html.Partial("Component/_SignIn",Model.Current)
    }
    else
    {
        @Html.Partial("Component/_SignUp",Model.Current)
    }
    @if (Model.HasError)
    {
        <div class="alert alert-warning">
            @Model.ErrorMessage
        </div>
    }
</div>
