@*@model Enjoy.Core.ViewModels.InputControlViewModel
<div id="group_@Model." class="form-group  input-group ">
    <label>@Model</label>
    <select class="form-control">
        @if (Model.Options != null)
        {
            foreach (var option in Model.Options)
            {
                <option value="@option.Key" selected="@(Model.Value.Equals(option.Key)?"selected":"")">@option.Value</option>
            }
        }
    </select>
    <input class="form-control  " />
</div>*@