
@model Enjoy.Core.ViewModels.SignUpViewModel
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">注册</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginFormAntiForgeryPost(Url.Action("Signup", new { ReturnUrl = Request.QueryString["ReturnUrl"] })))
                {
                    <fieldset>
                        <div class="form-group input-group" id="div_mobile" name="div_mobile">
                            @Html.TextBoxFor(o => o.Mobile, new { @class = "form-control", placeholder = "手机号码", type = "tel", autofocus = "autofocus" })
                            <a id="btn_verify_code" name="btn_verify_code" class="btn btn-lg  btn-block input-group input-group-addon">获取验证码</a>
                            <input name="VerifyCode" type="hidden" />
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(o => o.VerificationCode, new { @class = "form-control", placeholder = "验证码" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(o => o.Password, new { @class = "form-control", placeholder = "输入密码", type = "password" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(o => o.ConfirmPassword, new { @class = "form-control", placeholder = "确认密码", type = "password" })
                        </div>
                        <button type="submit" class="btn btn-lg btn-success btn-block">提交</button>
                        <a href="/Access/Sign?signin=true" class="btn btn-lg  btn-block">使用已经有帐号</a>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
@using (Script.Foot())
{
    <script src="/Themes/EnjoyTheme/Content/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/bootstrap.min.js"></script>
    <script src="/Themes/EnjoyTheme/Content/plugins/jquery.validate/jquery.validate.min.js"></script>
    <script src="/Themes/EnjoyTheme/Content/plugins/jquery.validate/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("form").validate({
                errorClass: "has-error",
                rules: {
                    Mobile: { required: true },
                    Password: { required: true },
                    VerificationCode: { required: true, equalTo: "#VerifyCode" },
                    Password: { required: true, equalTo: "#ConfirmPassword" }
                },
                messages: {
                    Mobile: { required: "手机号码不能为空." },
                    Password: { required: "密码不能为空." },
                    VerificationCode: { required: "验证码不能为空", equalTo: "验证码不正确." },
                    Password: { required: "密码不能为空", equalTo: "两次输入不一致." }
                },
                errorPlacement: function (error, element) {
                    element.parent().addClass("has-error");
                    //error.appendTo(element.parent());
                },
                success: function (label) {
                    label.parent().removeClass("has-error");
                }
            });

            $("#btn_verify_code").click(function (e) {
                var tel = $("#Mobile").val();
                if (isTelNum(tel) === false) {
                    $("#Mobile").parent().addClass("has-error");
                    e.preventDefault();
                    return;
                }
                else {
                    $("#Mobile").parent().removeClass("has-error");
                }

                $.ajax({
                    type: "POST",
                    url: "/Access/GetverificationCode",
                    data: {
                        "mobile": $("#Mobile").val(),
                        "__RequestVerificationToken": $("#__RequestVerificationToken").val()
                    },
                    success: function (data) {
                        if (data.has_error === false) {
                            var timer = 60;
                            $("#VerifyCode").val(data.model.code);
                            $("#btn_verify_code").addClass("disabled");
                            $("#btn_verify_code").text(timer + "s重新获取");
                            self.setInterval(function () {
                                timer = timer - 1;
                                $("#btn_verify_code").text(timer + "s重新获取");
                                if (timer <= 0) {
                                    $("#btn_verify_code").text("重新获取");
                                    $("#btn_verify_code").removeClass("disabled");
                                    self.stop();
                                    return;
                                }
                            }, 1000)
                        }
                        else {
                            alert(data.errmsg);
                        }
                    }
                });
                e.preventDefault();
            })

            function isTelNum(tel) {
                var objRegExp = /^[\d]{5,20}$/; ///^\d+\.\d+$/;
                return objRegExp.test(tel);
            }
        });
    </script>

}