@model Enjoy.Core.UIElements.SwitchUIElement
<fieldset>
    <div class="form-group   form-inline pull-left ">
        <label>@Model.Text</label>
        <div class="switch" data-on="primary" data-off="info">
            <input id="@Model.Id" name="@Model.Name" type="checkbox" @(Model.Value.Equals("false") ? "" : "checked='checked'") />
        </div>
    </div>
</fieldset>