@model Enjoy.Core.UIElements.TextAreaUIElement
<div id="group_@Model.Id" name="group_@Model.Id" class="form-group ">
    <label >@Model.Text</label>
    <textarea id="@Model.Id" name="@Model.Id" type="text" class="form-control" placeholder="@Model.Placeholder"></textarea>
</div>