<div class="weui-tab__content page_feedback">
    <a href="javascript:;" id="alertBtn" class="weui-btn weui-btn_default">Alert</a>
    <a href="javascript:;" id="confirmBtn" class="weui-btn weui-btn_default">Confirm</a>
    <a href="javascript:;" id="toastBtn" class="weui-btn weui-btn_default">Toast</a>
    <a href="javascript:;" id="loadingBtn" class="weui-btn weui-btn_default">Loading</a>
    <a href="javascript:;" id="actionSheetBtn" class="weui-btn weui-btn_default">ActionSheet</a>
    <a href="javascript:;" id="topTipsBtn" class="weui-btn weui-btn_default">TopTips</a>
    <a href="javascript:;" id="pickerBtn" class="weui-btn weui-btn_default">Picker</a>
    <a href="javascript:;" id="datePickerBtn" class="weui-btn weui-btn_default">DatePicker</a>
    <a href="javascript:;" id="multiPickerBtn" class="weui-btn weui-btn_default">Multi-Picker</a>
    <a href="javascript:;" id="cascadePickerBtn" class="weui-btn weui-btn_default">Cascade-Picker</a>
</div>