@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>优享--会员卡管理平台</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Themes/EnjoyTheme/Content/styles/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Themes/EnjoyTheme/Content/styles/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Themes/EnjoyTheme/Content/styles/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/Themes/EnjoyTheme/Content/styles/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    /* Some useful shortcuts or settings
  ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass))
    {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass))
    {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass))
    {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement
<div id="wrapper">
    @*布局页中显示 Weight时候 容器必须有id *@
    @if (Model.Content != null)
    {
        <div id="content" class="group">
            @Zone(Model.Content)
        </div>
    }
</div>
@tag.EndElement
@using (Script.Foot())
{
    <script src="/Themes/EnjoyTheme/Content/scripts/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Themes/EnjoyTheme/Content/scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Themes/EnjoyTheme/Content/scripts/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Themes/EnjoyTheme/Content/scripts/sb-admin-2.js"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/logon.js"></script>
    <script src="/Themes/EnjoyTheme/Content/scripts/jquery.backstretch.js"></script>
    <script src="/modules/Orchard.Resources/Scripts/scripts/jquery.min.js"></script>
    <script src="/modules/Orchard.Resources/Scripts/scripts/jquery.js"></script>

}
