
.word-danger {
    color: #d9534f;
}

.word-success {
    color: #5cb85c;
}

 .required {
    content: "*";
    color: red;
}

.pointer {
    cursor: pointer;
}

.color-select_item {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    padding: 2px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    float:left;
}

.color-select_item .color-select_content {
        display: inline-block;
        width: 24px;
        height: 24px
 }

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: none;
}

.img-thumbnail-enjoy {
    display: inline-block;
    height: auto;
    width:100px;
    height:100px;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}